

body {
    background-color: #CCB084;
  }

.banner {
    background-image: url(pagina/fundo-logo-2.PNG);

    height: 660px; 
    
    background-position: center; 
    background-repeat: no-repeat;
    margin-bottom: 0%;
  }

.navegação {
    display: flex;
    justify-content: center;
   
    padding: 10px;
  }
.botao-imagem {
    background-image:url(pagina/botão-Photoroom-2.PNG);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
    
    color:#290277;        
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.3s;
    text-decoration: none;
    margin-top: 15px;
  }
  
  .botao-imagem:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
.busca-topo {
    color:#290277;        
    font-size: 13px;
    font-weight: bold;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, opacity 0.3s;
    text-decoration: none;
    margin-top: 15px;
    background-color: #E2B86D;
    border: 2px solid 290277;
    border-color:#290277;
    margin-right: 10px;
}
.cadastro {
    background-image:url(pagina/entre-cadastro.png);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    border: none;
    padding: 20px 66px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.3s;
    margin-top: 15px;
    margin-left: 10px;

}
.cadastro:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.informativo {
  background-image: url(pagina/madeira-2.JPG);
 width: 95%;
 max-width: 1200px;
 position: absolute;
  top: 1860px;
  left: 50%;
  transform: translate(-50%, -50%);
  


  
}
.informativo-2 {
  background-image: url(pagina/madeira-2.JPG);
 width: 95%;
 max-width: 1200px;
 position: absolute;
  top: 3480px;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-bottom: 300px;
  


  
}
.square {
  width:100%;
  height:600px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom,#FAF2DB,#D1A66F);
  will-change: transform, box-shadow;
  margin-top: 120px;
  margin-bottom: 30px;
  
  
}


.titulos {
    background-image:url(pagina/PAGINA.png);
    background-size: 450px 180px;
    background-position: 0%;   
    background-repeat: no-repeat;
    margin-left: 14%;
    
    color:#290277;        
    font-size: 180%;
    font-weight: bold;
    border: none;
    padding: 70px 70px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 40px;
   
    
}
.textos {
  font-size: 230%;
  font-style: normal;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2%;
  margin-left: 10%;
  line-height: 4rem;

}
.text-img {
  
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

  
}
.primeiro-livro {
 height: 25%;                
  max-height: 700px; 
  width: auto;    
}
.botao-informativo {
  background-image:url(pagina/botão-Photoroom-2.PNG);
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  color:#290277;        
  font-size: 200%;
  font-weight: bold;
  border: none;
  padding: 15px 37px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;
  text-decoration: none;
  line-height: 2,5rem;
  position: absolute;
  left: 21%;
  top: 88%;
  transform: translateY(-50%);

}
.botao-informativo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.square-2 {
  width:100%;
  height:600px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom,#FAF2DB,#D1A66F);
  will-change: transform, box-shadow;
  margin-top: 120px;
  margin-bottom: 30px;
  
  
}
.titulos-2 {
  background-image:url(pagina/PAGINA.png);
  background-size: 450px 180px;
  background-position: 0%;   
  background-repeat: no-repeat;
  margin-left: 10%;
  
  color:#290277;        
  font-size: 180%;
  font-weight: bold;
  border: none;
  padding: 70px 70px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 40px;
 
  
}
.textos-2 {
  font-size: 220%;
  font-style: normal;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: justify;
  line-height: 4rem;
  position: absolute;
  right: 15px;
  top: 23%;
  transform: translateY(-50%);

}

.botao-informativo-2 {
  background-image:url(pagina/botão-Photoroom-2.PNG);
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  color:#290277;        
  font-size: 180%;
  font-weight: bold;
  border: none;
  padding: 15px 37px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;
  text-decoration: none;
  line-height: 3rem;
  position: absolute;
  right: 13%;
  top: 70%;
  transform: translateY(-50%);

}
.botao-informativo-2:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.carrossel-livros {
  width:43%;
  height:45%;
  background-size: cover;
  background-color: #FAF2DB;
  display: flex;
  gap:10px;
  margin-left: 2%;
  padding: 15px 30px;
  border-radius: 10px;
  border: solid 2px #290277;

}
.livros-classicos:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.livros-classicos {
  height: 220px;
  width: auto;
  border-radius: 10px;
  scroll-snap-align: center;

}
.nav-carrossel {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  position: absolute;
  top:81%;
  left:23%;
}
.informacoes {
  display: flex;
  flex-wrap: wrap;         
  gap: 16px;               
  justify-content: center;  
  align-items: stretch;     
  padding: 20px;

}
.quadrados {
  flex: 0 1 30%;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background: #D1A66F;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;
  margin-top: 6%;
  margin-bottom: 10%;
  
}
.quad-info{
  font-size: 200%;
  font-weight: bold;
  color: #290277;
  
}
.titulos-3{
  background: #E2B86D;
  height: 42px;
  width: 440px;
  margin-bottom: 20%;
  margin-left: 8.5%;
  text-align: center;
  padding-top: 17px;
  padding-left: 9px;
  font-size: 160%; 

}
.img-avaliacoes {
  width: 10%;
  position: absolute;
  left: 0.8%;
  top: 85.5%;

}
.pena {
  width: 7%;
  position: absolute;
  left: 6.5%;
  top: 87%;
}

.square-3 {
  width:100%;
  height:600px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom,#FAF2DB,#D1A66F);
  will-change: transform, box-shadow;
  margin-top: 0px;
  margin-bottom: 30px;
}

.dados {
  display: flex;
  width: 90%;
  background-color: aliceblue;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 20%;
  height: 300px;
}

.menus {
  
  color:#290277;        
  font-size: 180%;
 
}